.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $strokeGrey;
    nav {
        padding: 0;
    a {
        padding: 0;
        margin: 0;

        font-family: 'DM Mono', monospace;
        font-size: 25px;
        font-weight: 600;
    }
    }
}

